---
const { id, name, image } = Astro.props
---

<a
  href={`/`}
  title={`Guerrero Z ${name}`}
  class='group relative flex items-center justify-center h-32 w-24 lg:w-30 xl:32 transition duration-300 hover:scale-110 backdrop-blur-sm rounded-lg bg-linear-to-b from-sky-400/20 via-sky-400/5 to-transparent'
  onmouseenter={`document.getElementById('fighter-preview').src='${image}'; document.getElementById('fighter-name').innerText='${name}';`}
>
  <img
    src={image}
    alt={`Guerrero Z ${name}`}
    class='h-full w-auto -mt-12 px-2 grayscale group-hover:grayscale-0 transition-all duration-300 ease-in-out'
  />
</a>
